.footer{
    display:flex;
    justify-content: space-between;
    margin-top:10px;
}

.footer p{
    font-size:12px;
    color:#d6dbe0;
    font-weight: bold;
}
.links{
    width:25%;
    display:flex;
    justify-content: space-between;
}

.link{
    font-size:12px;
    display: inline-block;
    text-decoration: none;
    color:#8ac1ef;
    font-weight:bold;
}

