.complaintsList{
    margin-top:20px;
    border-radius:5px;
    border:2px solid #ccc;
    margin-bottom: 20px;
    position: relative;
}

.complaintsList h4{
    padding:10px 20px;
    background-color: #eeeeee;
    border-bottom: 2px solid #ccc;
}

.complaintsList table{
    width:100%;
    background-color: #ffffff;   
    border-collapse: collapse;
    border-style: hidden;
    table-layout:fixed;
}

td:last-child{
    color:#D8763A;
}
.complaintsList th{
    color:gray;
    border:2px solid #ccc;
}

.complaintsList td{
    text-align: center;
    border:2px solid #ccc;
}
.complaintsList table,th,td{
    padding:10px;
}

.issueId{
    color:blue;
    text-decoration: underline;
    cursor:pointer;
}
