.top{
    background-color: #eee;
}

.navbar{
height:50px;
display: flex;
justify-content: space-between;
}

.navbar img{
    height:100px;
    width:120px;
    margin-left:60px;
    z-index:99;
}

.topDiv{
    background:url(../../Images//thoughts2.jpeg) center center/cover;
    height:50vh;
    position:relative;
}

.innerDiv{
    max-width:50%;
    position:absolute;
    top:30%;
    left:7%;
}

.innerDiv p{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;

}
